{% extends 'base.html' %}
<html>
  <head>
    <title>Flask Shop</title>
  </head>
  <body>
    {% block content %}

    <h1>Indicate Tao's latest username</h1> 
      {% for account in past_accounts %}
     <form name="myForm" action="" method="post" onsubmit="">
       <p>
       <input type="radio" name="options" id={{ account }} value={{ account }}>{{ account }} </input>
    	  {% endfor %}
       </p>
       <p><input class="btn btn-light" type=submit value=Indicate></p>
      </form>
  	 <br>
         {% endblock %}

  </body>
</html>

