{% extends 'base.html' %}
<html>
  {% block content %}

  <head>
    <title>Flask Shop</title>
  </head>
  <body>
    <h1>List of past usernames</h1>
      {% for account in past_accounts %}
     <ul class="list-group">
      <li class="list-group-item list-group-item-dark"> {{ account }} </li>
    
     </ul>

  	  {% endfor %}
  	 <br>
  	 <p><a href=latest_user ><button type="button" class="btn btn-light">Indicate Tao's latest username!</button></a></p>
  	 <p><a href=delete_user ><button type="button" class="btn btn-light">Delete wrong username!</button></a></p>
  </body>
  {% endblock %}
</html>
