<!-- templates/list_of_users.html -->
<html>
  <head>
    <title>Flask Shop</title>
  </head>
  <body>
    <h1>List of past usernames</h1>
      {% for account in past_accounts %}
     <ul>{{ account }} </ul>
  	  {% endfor %}
  	 <br>
  	 <p><a href=latest_user ><button class=grey style="height:75px;width:150px">Indicate Tao's latest username!</button></a></p>
  	 <p><a href=delete_user ><button class=grey style="height:75px;width:150px">Delete wrong username!</button></a></p>
  	 <p><a href=/ ><button class=grey style="height:75px;width:150px">Back to main page</button></a></p>
  </body>
</html>
