<!-- templates/list_of_users.html -->
<html>
  <head>
    <title>Flask Shop</title>
  </head>
  <body>
    <h1>List of past usernames</h1>
      {% for account in past_accounts %}
     <ul>{{ account }} </ul>
  	  {% endfor %}
  	 <br>
  	 <h1>Delete tao usernames</h1> 
     <form action="/tao_usernames" method="POST">

        <div class="form-group">
          <input type="text" class="form-control" id="username_delete" name="username_delete" placeholder="Input Tao's usernames">
        </div>

        <button type="submit" class="btn btn-primary">Delete</button>

      </form>
  	 <br>
  	 <p><a href=/ ><button class=grey style="height:75px;width:150px">Back to main page</button></a></p>
  </body>
</html>
