{% extends 'base.html' %}
{% block content %}
<div class="container-sm">
  	<h3> Is Tao banned? </h3>
    <h1>Yes</h1>
  </div>
    <div>Last account was:     {{latest_account}}</div>
    <h1>Add Tao's username</h1> 
     <form action="/" method="POST">

        <div class="form-group">
          <input type="text" class="form-control" id="username" name="username" placeholder="Input Tao's username">
        </div>

        <button type="submit" class="btn btn-primary">Add</button>

      </form>
{% endblock %}
